a {
    color: inherit;
    text-decoration: inherit;
}


#main_title {
    margin-top: 200px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
#findMe{
    font-size: 2em;
    font-family: 'Lato', sans-serif;

}

#findMe > a{
    font-size: 3em;
    transition: 0.3s;
    color: #E2B49A;
}

#findMe >a:hover{
    color:rgb(255, 170, 59)
} 
#person_traits{
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
}
.person_text{
    margin-top: 2em;
    max-height: 10%;
    position: absolute;
    width: 100%;
        left: -500px;
        opacity: 0;
            font-family: 'Lato', sans-serif;
            font-size: 1.5em;
color: #E2B49A;
letter-spacing: 0.1em;
}
#programmer_text{
    top: 2.4em;
}
#modeler_text{
    top: 4.8em;
}
#student_text{
    top: 7.2em;
}
#main_title_text {
    display: inline-block;
    font-size: 4em;
    font-family: 'Lato', sans-serif;
    border-right: .12em solid orange;
    animation: caret 1s steps(1) infinite;
}

#index_mid_holder {
    background-color: #f6f9fc;
}

#index_mid {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    font-family: 'Open Sans', sans-serif;
    line-height: 2em;
    letter-spacing: 0.5px;
    font-weight: 300;
    transition: all .5s ease;
}

#intro {
    margin-top: 12em;
    font-size: 1.5em;
    line-height: 2em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    word-spacing: 0.2em;
    opacity: 0;
}

#experiences_holder {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 4%;
}

.experience_list_item {
    background-color: #fff;
    padding: 5%;
    margin-bottom: 2em;
    margin-bottom: 3em;
    transition: 0.3s;
    border-radius: 3px;

    display: inline-block;
    vertical-align: text-top;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.experience_list_item:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.4);

    position: relative;
    transform: translate(0, -5px);
}

.section_title {
    display: block;
    font-weight: 600;
    text-align: center;
    margin-top: 3em;
    font-size: 1.4em;
    font-family: 'Open Sans', sans-serif;
}

.section_title::after {
    content: " ";
    display: block;
    border-bottom: 4px solid #E2B49A;
    width: 50px;
    margin: 0 auto;
    margin-bottom: 2.5em;
    margin-top: 1.5em;
}

.experience_img {
    float: left;
    clear: left;
    margin-top: 2px;
    max-width: 60%;
}

.experience_text_title {
    float: left;
    clear: left;
    font-weight: 900;
    margin-top: 10px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
}

.experience_text {
    float: left;
    clear: left;
    font-size: 0.9em;
    line-height: 1.5em;
}

#contacts_holder {
    margin-top: 2em;
}

#contacts_holder {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 8em;
    font-family: 'Open Sans', sans-serif;
    line-height: 2em;
    letter-spacing: 0.5px;
    font-weight: 300;
}

#contact_list {
    margin-bottom: 2em;
    text-align: center;
}

.contact_list_item {
    display: inline-block;
    margin-right: 3em;
    margin-top: 3em;
    font-size: 1.2em;
    cursor: default;
}

.contact_list_item:hover {
    color: #E2B49A
}

#projects_holder {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10%;
}

#project_list {
    padding-left: 4%;
    padding-right: 4%
}
.project_options{

    display:inline-block;
        font-family: 'Lato', sans-serif;
        background-color:#E2B49A;
        padding:0.6em;
        margin-right: 20px;
        margin-top: 2em;
        color: white;
        letter-spacing: 0.1rem;
        border-radius: 4px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);

}
.project_options:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
            transform: translate(0, -5px);
  transition: all 0.5s;
    -webkit-transition: all 0.2s;

}
.project_item {
    background-color: #fff;
    display: flex;
    height: auto;
    margin-top: 5em;
    transition: 0.3s;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.project_item:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.4);
    position: relative;
    transform: translate(0, -5px);
}

.project_img {
    width: auto;
    max-height: 650px;
    margin: 0px;
    padding: 0px;
    border-style: none;
    display: block;
    object-fit: cover;
    background-color: white;
}

.img_holder {
    position: relative;
    margin-right: 0px;
    width: 49.5%;
    height: 100%;
    overflow: hidden;
    border-radius: 54px 0px 0px 54px;
    z-index: 2;
}

.img_holder:after {
    content: '\A';
    position: absolute;
    width: 102%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.img_holder:hover>.viewMore {
    visibility: visible;
}

.img_holder:hover:after {
    opacity: 1;
}

.viewMore {
    cursor: default;
    visibility: hidden;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.3em;
    font-size: 1.2em;
    z-index: 10;
}

.project_desc {
    padding: 8% 6% 8% 6%;
    position: relative;
    width: 37.5%;
    margin-right: 1%;
    border-radius: 0px 54px 54px 0px;
    z-index: 2;
    background-color: #fff;
}

.experience_divider {
    background-color: #E2B49A;
    position: absolute;
    width: 20%;
    height: 100%;
    left: 40%;
    z-index: 1;
}

.project_text_title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.8em;
}

.project_text {
    margin-top: 2em;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    word-spacing: 0.2em;
    line-height: 1.6em;
    letter-spacing: 0.08em;
}

.project_tag_holder {
    margin-top: 2em;
}

.project_tag {
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px;
    border: 2px solid #E2B49A;
    display: inline-block;
    padding: 0.4em;
    margin: 8px 8px 8px 0px;
}

@media only screen and (max-width: 900px) {
    #main_title_text {
        font-size: 2.8em;
    }
    #index_mid {
        width: 90%;
    }
    #main_title {
        width: 90%;
    }
    #projects_holder {
        width: 90%;
    }
    .header_list {
        text-align: center;
        margin-right: 0%;
    }
    .img_holder {
        display: none;
    }
    .project_desc {
        width: 100%;
    }
    #index_top {
        background-image: none;
    }
    .img_holder {
        display: none;
    }
    .contact_list_item {
        text-align: center;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 1024px) {
    #index_mid {
        width: 90%;
    }
    #projects_holder {
        width: 90%;
    }
    #main_title {
        width: 90%;
    }
    .header_list {
        margin-right: 10%;
    }
    #index_top {
        background-image: none;
    }
}

@media only screen and (max-width: 1480px) {
    #index_mid {
        width: 90%;
    }
    #projects_holder {
        width: 90%;
    }
    #main_title {
        width: 90%;
    }
    .header_list {
        margin-right: 10%;
    }
    #index_top {
        background-image: none;
    }
}

@keyframes caret {
    50% {
        border-color: transparent;
    }